html, body {
  font-family: 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#canvas-container {
  position: relative;
  background-color: blue;
  flex-grow: 1;
}

#canvas-container #d3-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#canvas-container svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
